@model Mvc_JobPortal_FinalProject.Models.EmployerMODEL

@{
    ViewBag.Title = "ViewJobDetailsJS";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<br />
<br />
<fieldset>
    <legend style="font-family:Forte">Job Details</legend>
  
    <table align="center" style="text-align:left;font-family:Forte;">
        <tr>
            @*<td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.CompanyLogo)
                </div>
            </td>*@
            <td align="left">
                <div class="display-field">
                    <img src=@Html.ValueFor(model => model.CompanyLogo) height="150" width="150" />
                </div>
                </td>
        </tr>
        <tr>
            <td>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.CompanyName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CompanyName)
                </div>
            </td> 
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.CompanyWebsite)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CompanyWebsite)
                </div>
                </td>
</tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ContactNumber)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EmailAddress)
                </div>
            </td>
                </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.JobID)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.JobID)
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.JobTitle)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.JobTitle)
                </div>
            </td>
        </tr>
        <tr>
            <td width="200px">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.JobDesc)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.JobDesc)
                </div>
            </td>
        </tr>
        <tr>
            <td width="200px">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.NoOfVacancies)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.NoOfVacancies)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.MinExp)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.MinExp)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.MaxExp)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.MaxExp)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Salary)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Salary)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.JobLocation)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.JobLocation)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.IndustryType)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.IndustryType)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.FunctionalArea)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.FunctionalArea)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PostedDate)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PostedDate)
                </div>
            </td>
        </tr>
        <tr>
            <td width="250px">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.LastDateToApply)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LastDateToApply)
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>             
                    @Html.ActionLink("Apply for this Job", "ApplyForJob", new { EmailAddress = Model.EmailAddress, CompanyLogo = Model.CompanyLogo, CompanyName = Model.CompanyName, JobID = Model.JobID, JobTitle = Model.JobTitle, Salary = Model.Salary, PostedDate = Model.PostedDate, LastDateToApply = Model.LastDateToApply }, new { Style = "Color:black; font-family:forte;" })
                
            </td>
        </tr>
     </table>
</fieldset>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
