@model IEnumerable<Mvc_JobPortal_FinalProject.Models.EmployerMODEL>

@{
    ViewBag.Title = "ViewAppliedJobJS";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2 style="font-family:Forte">Jobs Applied</h2>


<table align="center" border="1" style="text-align:center ;width:1400px;font-family:Forte;">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CompanyLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </th>

        
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                <img src=@Html.ValueFor(modelItem => item.CompanyLogo) height="150" width="150" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDate)
            </td>

        </tr>
    }

</table>
